$headerHeight: 60px;
$footerHeight: 150px;
$medSize: 1050px;
$smallSize: 700px;

$lightBlue: rgb(88, 85, 255);
$darkBlue: rgb(46, 59, 145);
$primaryBlue: #5367ff;
$primaryRed: #c00505;
$darkBlack: #3C3C3C;
$medBlack: #646464;
$medLightBlack: #a5a5a5;
$lightBlack: #c8c8c8;
$bgGrey: #f0f0f0;
