.main-container {
  position: relative;
  height: 100%;
  margin-top: 60px;
  width: 100%;
  background-color: #bccdee;
  overflow-y: scroll; }

.scroll-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  min-height: 100%;
  background-color: white; }
  .scroll-container h1 {
    text-align: center;
    margin: 15px 0 15px 0;
    font-weight: 300;
    font-size: 3em; }
  .scroll-container h2 {
    margin: 10px 25px;
    font-weight: 300; }
  .scroll-container p {
    margin: 20px 25px; }
  .scroll-container img {
    display: block;
    margin: 35px auto;
    box-shadow: 0px 10px 25px -8px black; }

@media screen and (max-width: 700px) {
  .scroll-container {
    width: 100%;
    padding: 40px 15px; } }
